/* ตั้งค่าพื้นฐาน */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.discordapp.com/attachments/793120879156527144/1283762863382597652/futuristic-metaverse-empty-room-product-display-presentation-abstract-technology-scifi-with-neon-light-3d-background.jpg?ex=66e77895&is=66e62715&hm=0a44634aca445ae603c9bf40c58a6b617bfcfe8794deb2fa540124cf2702ceeb&');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background: rgba(51, 51, 51, 0.8);
}

/* โลโก้ */
.logo {
    max-width: 90%; /* ขนาดสูงสุดของโลโก้ */
    height: auto;
}

/* Container */
main.container {
    padding: 20px; /* ลดพื้นที่เพื่อไม่ให้ขอบกระทบ */
    background: rgba(74, 67, 175, 0.8);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ปุ่ม */
.button-link {
    display: inline-block;
    margin: 10px; /* ลดระยะห่างเพื่อประหยัดพื้นที่ */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-image {
    max-width: 100%; /* ปรับให้รูปภาพไม่เกินขนาดของหน้าจอ */
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(160, 7, 7, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-link:hover .button-image {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(28, 7, 104, 0.3);
}

/* Media Queries */
@media (max-width: 480px) {
    .button-image {
        width: 100%; /* ใช้ขนาดเต็มความกว้างของหน้าจอมือถือ */
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .button-image {
        width: 80%; /* ใช้ขนาดที่เล็กลงบนแท็บเล็ต */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .button-image {
        width: 60%; /* ขนาดปุ่มสำหรับโน้ตบุ๊คและแท็บเล็ตขนาดใหญ่ */
    }
}

@media (min-width: 1025px) {
    .button-image {
        width: 400px; /* ขนาดปุ่มสำหรับคอมพิวเตอร์ */
    }
}

/* Footer */
footer {
    background: rgba(223, 8, 8, 0.9);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
